<!--  <div class="panel panel-info">
<div class="panel-heading">All Friends</div>
<div class="panel-body">
<span ng-if="friends.length==0">No Friends</span>
<ul style="list-style:none">
<li ng-repeat="friend in friends">
{{friend.email}}<br>
{{friend.firstname}}&nbsp;{{friend.lastname}}<br>
{{friend.role}}<br>
{{friend.phonenumber}}<br>
<img src="http://localhost:8082/Project2Middleware/getimage/{{friend.email}}" height="60 px" width="60 px"> <br>
<hr>
</li>
</ul>
</div>
</div> -->



 <div class="container">
<div class="panel panel-warning">

<div class="panel-heading">
<h1 style="color:Black;font-family:Microsoft Sans Serif;">All Friends</h1>
</div>

<div class="panel-body">
<div class="row" ng-repeat="friend in friends">
<span ng-hide="friend.fromId.email==loggedInUser.email">
<div class="col-lg-4" style="margin-top:35px">
{{friend.fromId.firstname}}&nbsp{{friend.fromId.lastname}}<br>
{{friend.fromId.email}}<br>
{{friend.fromId.role}}<br>
<img src="http://localhost:8082/Project2Middleware/getimage/{{friend.fromId.email}}" onerror="this.src='resources/images/User-Profile-Img.jpg'" height="60 px" width="60 px"> <br>
<hr style="margin-top:55px">
</div>
</span>
<span ng-hide="friend.toId.email==loggedInUser.email">
<div class="col-lg-4" style="margin-top:35px">
{{friend.toId.firstname}}&nbsp{{friend.toId.lastname}}<br>
{{friend.toId.email}}<br>
{{friend.toId.role}}<br>
<img src="http://localhost:8082/Project2Middleware/getimage/{{friend.toId.email}}" onerror="this.src='resources/images/User-Profile-Img.jpg'" height="60 px" width="60 px"> <br>
<hr style="margin-top:55px">
</div>
</span>
<div class="col-lg-4" style="margin-top:35px">
<button class="btn btn-danger" ng-click="unFriend(friend)">Unfriend</button>
<hr style="margin-top:80px">
</div>

</div>


</div>
</div>
</div>



