<!--     <span style="color:red">{{error.message}}</span>
<table>
  
  <tr>
  <td>Job Title</td>
  <td><input type="text" ng-model="job.jobTitle"></td>
     </tr>
     
      <tr>
  <td>Job Description</td>
  <td><textarea ng-model="job.jobDescription"></textarea></td>
     </tr>
  
      <tr>
  <td>Skills Required</td>
  <td><input type="text" ng-model="job.skillsRequired"></td>
     </tr>
  
      <tr>
  <td>Location</td>
  <td><input type="text" ng-model="job.location"></td>
     </tr>
  
      <tr>
  <td>Company Name</td>
  <td><input type="text" ng-model="job.companyName"></td>
     </tr>
  
      <tr>
  <td>Years Of Experience</td>
  <td><input type="text" ng-model="job.YrsOfExp"></td>
     </tr>
  
      <tr>
     <td>Salary</td>
  <td><input type="text" ng-model="job.salary"></td>
     </tr>
     
     <tr>
     <td>
     <input type="submit" value="Add Job" ng-click="addJob(job)"></td>
     </tr>
     
     
     </table>  
     
   -->
   
   
   
   
   
   <div class="container"><!-- Container start -->
<h1>Enter job Details</h1>
<div class="jumbotron" style="height:480px;>
<form>
<div class="row"><!-- Row start -->
<div class="col-lg-2"><!-- Empty div --></div>

<div class="col-lg-4"><!-- Column start -->

<div class="form-group">
<label>Company Name</label>
<input type="text" class="form-control" Placeholder="Company Name"  id="Cname" ng-model="job.companyName" required>
</div>

<div class="form-group">
<label>Job Title</label>
<input type="text" class="form-control" Placeholder="Job Title" id="Jobtitle" ng-model="job.jobTitle" required>
</div>

<div class="form-group">
<label>Job Description</label>
<textarea type="text"  class="form-control" Placeholder="Job Description" id="Jobdesc" ng-model="job.jobDescription" required></textarea>
</div>

<div class="form-group">
<label>Salary</label>
<input type="text" class="form-control" placeholder="Salary" id="Salary" ng-model="job.salary" required>
</div>

<div class="form-group">
<label>Skills Required</label>
<input type="text" class="form-control" placeholder="Skills Required" id="Skillsreq" ng-model="job.skillsRequired" required>
</div>





<div class="form-group">
<button type="submit" class="btn btn-success form-control"  ng-click="addJob(job)">Add Job</button>

</div>

</div><!-- Column End -->

<div class="col-lg-1"><!-- Empty div --></div>
<div class="col-lg-1"><!-- Empty div --></div>

<div class="col-lg-4"><!-- Column Start -->
<div class="form-group">
<label>Location</label>
<select class="form-control" ng-model="job.location" required id="Loc">
<option value="Delhi">Delhi</option>
<option value="Gurgaon">Gurgaon</option>
<option value="Noida">Noida</option>
<option value="Mumbai">Mumbai</option>
<option value="Jaipur">Jaipur</option>
<option value="Banglore">Banglore</option>
</select>
</div>

<div class="form-group">
<label>Years of Experirence</label>
<input type="text" class="form-control" placeholder="Yrs of Exp" id="Yoexp" ng-model="job.YrsOfExp" required>
</div>
</div><!-- Column End -->

 
<!-- Column End -->

<div class="col-lg-1"></div><!-- Empty div -->
</div><!-- Row end -->
</form>
</div>
</div><!-- Container End -->