   <span style="color:red">{{error.message}}</span>
<table>
  
  <tr>
  <td>Job Title</td>
  <td><input type="text" ng-model="job.JobTitle"></td>
     </tr>
     
      <tr>
  <td>Job Description</td>
  <td><input type="textarea" ng-model="job.JobDescription"></td>
     </tr>
  
      <tr>
  <td>Skills Required</td>
  <td><input type="text" ng-model="job.SkillsRequired"></td>
     </tr>
  
      <tr>
  <td>Location</td>
  <td><input type="text" ng-model="job.Location"></td>
     </tr>
  
      <tr>
  <td>Company Name</td>
  <td><input type="text" ng-model="job.companyName"></td>
     </tr>
  
      <tr>
  <td>Years Of Experience</td>
  <td><input type="text" ng-model="job.YrsOfExp"></td>
     </tr>
  
      <tr>
     <td>Salary</td>
  <td><input type="text" ng-model="job.Salary"></td>
     </tr>
     
     <tr>
     <td>
     <input type="submit" value="Add Job" ng-click="addJob(job)"></td>
     </tr>
     
     
     </table>  
     
   