<!--  without login, if user tries to logout  
 invalid credentials ...invalid email /password  
<span style="color:red">{{error.message}}</span>
{{message}}
<table>
<tr>
<td>Enter email </td>
<td>
<input type="email" ng-model="user.email">
</td>
</tr>

<tr>
<td>Enter password</td>
<td><input type="password" ng-model="user.password"></td>
</tr>

<tr>
<td><input type="submit" value="login" ng-click="login(user)"></td>
</tr>

</table> 
-->

<style>
body
{
background:url("resources/images/img13.jpg")
}
</style>

<body>
<div class="container" >
<div class="col-md-8 col-md-offset-2">
  <h1 style="color:Black;font-family:Microsoft Sans Serif; text-align:center">Login</h1>

<form id="Loginform">
<span style="color:red">{{error.message}}</span>
{{message}}
<div class="form-group">
<label class="control-label">Username</label>
<input type="email"  class="form-control"  ng-model="user.email" placeholder="Username" required="required">
</div>

<div class="form-group">
<label class="control-label">Password</label>
<input type="password"  class="form-control"   ng-model="user.password" placeholder="Password" required="required">
</div>

<div class="form-group">
<input type="checkbox"><label>Remember me</label>
</div>
<div class="form-group">
<!--   <button type="submit" ng-click="login(user)" class="btn btn-info btn-lg" style="width:25%;position:relative;left:120px" ><span class="glyphicon glyphicon-log-in">&nbsp</span>Login</button> -->  
<button class="btn btn-primary" ng-click="login(user)">Login</button>

</div>

</form>
</div>  
</div>







<body>