<style>

.imgs{
margin-top:90px;
}
body
{
background:url("resources/images/img13.jpg")
}



</style>


<div class="container">

<div class= "row">
<div class= "col-md-6">
<h1 style="color:Black;font-family:Microsoft Sans Serif;text-align:center;">Create a new Account </h1>

<div  id="Signupform1"><!-- Column 4 Start -->
<h3 style="font-family:Microsoft Sans Serif;>User Details</h3>
</div>
<div class="form-group">
<input type="Text" class="form-control"   id="frstname" ng-model="user.firstname" placeholder="First Name" required>
</div>

<div class="form-group">
<input type="Text" class="form-control" id="lstname" ng-model="user.lastname" placeholder="Last Name" required>
</div>


<div class="form-group">
<input type="email" class="form-control" ng-model="user.email" placeholder="Username/Email" required>
<span style="color:red">{{error.message}}</span>
</div>

<div class="form-group">
<input type="password" class="form-control" ng-model="user.password" placeholder="password" required>
</div>

<div class="form-group">
<input type="tel" class="form-control" id="mobileno" ng-model="user.phonenumber" placeholder="Mobile Number" required>
</div>

<div class="form-group">
<label>Select Role</label>
<select class="form-control" ng-model="user.role" required>
<option value="ALUMNI">Alumni</option>
<option value="STUDENT">Student</option>
<option value="EMPLOYEE">Employee</option>
</select>
</div>

<div class="form-group">  
<button class="btn btn-primary" ng-click="register(user)">Register</button>
</div>
</div>

<div class="imgs">
<div class="col-md-4 col-md-offset-1" >
<img src="resources/images/user-profile-img.png" height=350px; width=350px;>
</div>
</div>
</div>


</div>


