   <!--    <table>
	<tr>
		<td>Enter email </td>
		<td><input type="email" ng-model="loggedInUser.email" disabled>
		<span style="color:red">{{error.message}}</span>
		</td>
	</tr>

	<tr>
		<td>Enter password</td>
		<td><input type="password" ng-model="loggedInUser.password" required></td>
	</tr>

	<tr>
		<td>Enter Firstname</td>
		<td><input type="text" ng-model="loggedInUser.firstname" required></td>
	</tr>

	<tr>
		<td>Enter Lastname</td>
		<td><input type="text" ng-model="loggedInUser.lastname"></td>
	</tr>

	<tr>
		<td>Enter Phonenumber</td>
		<td><input type="text" ng-model="loggedInUser.phonenumber"></td>
	</tr>

	<tr>
		<td>Select Role</td>
		<td>
		<select ng-model="loggedInUser.role">
		<option value="STUDENT">Student
		<option value="EMPLOYEE">Employee
		<option value="ALUMNI">Alumni 
		</select>
		</td>
		
	</tr>
    <tr>
    <td><input type="submit" value="Edit" ng-click="updateProfile(loggedInUser)"></td>
    </tr>
    
</table>   
 -->


 
  <h1 style="color:Black;font-family:Microsoft Sans Serif;">Update Profile </h1>
 
 <div class="col-lg-4" id="Signupform1">
<h3 style="font-family:Microsoft Sans Serif;margin-left:100px">User Details</h3>

<div class="form-group">
<input type="Text" class="form-control"   id="frstname" ng-model="loggedInUser.firstname" placeholder="First Name" required>
</div>

<div class="form-group">
<input type="Text" class="form-control" id="lstname" ng-model="loggedInUser.lastname" placeholder="Last Name" required>
</div>


<div class="form-group">
<input type="email" class="form-control" ng-model="loggedInUser.email" placeholder="Username/Email" required>
<span style="color:red">{{error.message}}</span>
</div>

<div class="form-group">
<input type="password" class="form-control" ng-model="loggedInUser.password" placeholder="password" required>
</div>

<div class="form-group">
<input type="tel" class="form-control" id="mobileno" ng-model="loggedInUser.phonenumber" placeholder="Mobile Number" required>
</div>

<div class="form-group">
<label>Select Role</label>
<select class="form-control" ng-model="loggedInUser.role" required>
<option value="ALUMNI">Alumni</option>
<option value="STUDENT">Student</option>
<option value="EMPLOYEE">Employee</option>
</select>
</div>

<div class="form-group">  
<button class="btn btn-primary" ng-click="updateProfile(loggedInUser)">Edit</button>
</div>

</div>

<!-- <img  src="http://localhost:8082//Project2Middleware//getimage//{{loggedInUser.email}}"  onerror="this.src='resources/images/User-Profile-Img.jpg'" class="img-circle" width="300" height="300">
 --> 
 
 
 
 
 