<div class="container">
<div class="panel panel-warning">

<div class="panel-heading">
<h1 style="color:Black;font-family:Microsoft Sans Serif;">Blogs Waiting Approval</h1>
</div>

<div class="panel-body">
<ul style="list-style: none">
<li ng-repeat="blog in Getblogswaitingapproval">
 <div class="row">
<div class="col-lg-8">
<h3>{{blog.blogTitle}}</h3>
<label>{{blog.postedBy.firstname}}&nbsp{{blog.postedBy.lastname}}&nbsp&nbsp{{blog.postedOn | date:'medium'}}</label><br>
{{blog.blogContent | limitTo: 500}}<span ng-show="blog.blogContent.length>500"><a href="" ng-click="Showmoreblogcontent(blog.id)" ng-hide="isClicked && id==blog.id">Read More</a></span>
<span ng-show="isClicked && id==blog.id">
{{blog.blogContent | limitTo: blog.blogContent.length : 500 }}
</span>
<a href="" ng-click="Showmoreblogcontent(blog.id)" ng-show="isClicked && id==blog.id">Hide Content</a>
<br>
<hr>
</div>

 <div class="col-lg-2">
<a><span class="glyphicon glyphicon-trash" style="color:red;font-size:25px"></span></a>
</div>

<div class="col-lg-2">
<a ng-click="Updateblog(blog.id)"><span class="glyphicon glyphicon-ok" style="color:green;font-size:25px"></span></a>
</div>
</div>
</li>
</ul>


</div>

</div>
</div>